*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-around;
  
    .navbar {
      a {
        color: white !important;
      }
      button {
        background-color: white;
      }
      .collapse {
        ul {
          li {
            a {
              color: white !important;
            }
          }
        }
      }
    }
  }
  
  #create {
    background-image: url("/assets/img/bg_1\ \(1\).jpg");
    width: 100%;
    min-height: 900px;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
  
    .modern {
      width: 70%;
      button {
        padding: 12px;
        border: none;
        background-color: #D1002C;
        color: white;
        border-radius: 10px;
      }
      @media(max-width:760px){
            h1{
                font-size: 27px;
            }
            p{
                font-size: 14px;
            }
      }
    }
    }


    .about-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .icon-container {
        display: flex;
        text-align: center;
    
        .individual-icon {
            display: flex;
            flex-direction: column;
            gap: 15px;
    
            i {
                font-size: 35px;
            }
        }
    }
    
    .clients-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .threeDivAbsolute {
        background-color: white;
        padding: 15px;
        color: black;
        margin-top: 20px;
        position: relative;
        border: 1px solid gray;
    
        .custom-div {
            display: flex;
            gap: 10px;
    
            .custom-image {
                img {
                    width: 100%;
                    height: 100px;
                    border-radius: 50px;
                }
            }
    
            .custom-text {
                margin-top: 18px;
            }
        }
    }
    
    .left-icon {
        position: absolute;
        top: 0;
        margin-left: 15px;
        margin-top: 5px;
    
        i {
            font-size: 35px;
            color: brown;
        }
    }


    #clients{
        width: 100%;
        height: auto;
        min-height: 600px;
        .clients_cnt{
            width: 100%;
            height: auto;
            min-height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .clients_text{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .clients_row{
                .roger_clients{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    padding: 20px;
                    .imgx{
                        display: flex;
                        
                        align-items: center;
                        img{
                            width: 25%;
                            border-radius: 50px;
                        }
                        .span_roger{
                            display: flex;
                            flex-direction: column;
                        }
                    }

                }
            }
        }
    }
      


    #productsList {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
      }
      
      .boxDiv {
        width: 30%;
        padding: 10px;
        margin-bottom: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        .title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 8px;
            margin: auto;
            background: linear-gradient(
                to right, rgba(0,168,253),#fff 35%, #000000);
            background-size: 200% auto;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            animation: gradient 3s linear infinite;
            display: flex;justify-content: center;
            align-items: center;   
        
        @keyframes gradient{
            0% {background-position: 0% 75%;}
            50% {background-position: 100% 50%;}
            100% {background-position: 0% 70%;}
        }
        }
        
    
        img {
          width: 100%;
          height: auto;
          margin-bottom: 10px;
        }
      
        button {
          background-color: #285879;
          color: white;
          border: none;
          padding: 8px 14px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          border-radius: 5px;
      
          &:hover {
            background-color: #2980b9;
          }
        }
      }
    
      #pagi{
        background-color: #ff2020;
        padding: 5px;
        border: none;
        border-radius: 5px;
        color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    
    
      @media (min-width: 500px) {
        .boxDiv {
          width: calc(50% - 20px); 
        }
      }
      
      @media (max-width: 568px) {
        .boxDiv {
          width: calc(100% - 20px); 
        }
      }
      
      
      
      @media (min-width: 1000px) {
        .boxDiv {
          width: calc(33% - 20px); 
        }
      }
    
    
    
      #productsList2 {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
      }
      
      .boxDivx {
        width: 30%;
        padding: 10px;
        margin-bottom: 20px;
        margin: auto;
      
        .title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
              margin: auto;
              background: linear-gradient(
                  to right, rgba(0,168,253),#fff 35%, #000000);
              background-size: 200% auto;
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
              animation: gradient 3s linear infinite;
              display: flex;justify-content: center;
              align-items: center;   
          
          @keyframes gradient{
              0% {background-position: 0% 75%;}
              50% {background-position: 100% 50%;}
              100% {background-position: 0% 70%;}
          }
          }
      
        img {
          width: 100%;
          height: auto;
          margin-bottom: 10px;
        }
      
        button {
          background-color: #3498db;
          color: white;
          border: none;
          padding: 8px 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;
      
          &:hover {
            background-color: #2980b9;
          }
        }
      }
    
      #pagi{
        background-color: #ff2020;
        padding: 5px;
        border: none;
        border-radius: 5px;
        color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    
    
      @media (min-width: 500px) {
        .boxDiv {
          width: calc(50% - 20px); 
        }
      }
      
      @media (max-width: 568px) {
        .boxDiv {
          width: calc(100% - 20px); 
        }
      }
      
      
      
      @media (min-width: 1000px) {
        .boxDiv {
          width: calc(25% - 20px); 
        }
      }
    
    
    
    
      #srchInp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        input{
            padding: 10px;
            border: none;
            border: 1px solid rebeccapurple;
        }
        button{
            padding: 10px;
            background-color: rebeccapurple;
            border: 1px solid rebeccapurple;
        }
      }
    
    
    #basketx{
        width: 100%;
        height: auto;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }